.card {
  border: 0px solid #ffffff;
  overflow: hidden; 
  transition: box-shadow 0.2s ease;
  width: 150px; 
  margin: 10px; 
  text-align: center;
}

.card:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.card-body {
  padding: 1rem;
}

.card-text {
  margin-top: 0.5rem;
}

@media (max-width: 576px) {
  .card {
    text-align: center;
  }
}
@media (max-width: 474px) {
  .card {
    text-align: center;
  }
}
